body {
    background: #dedede;
}

div .upper {
    margin:0 25% 2% 25%;
    width:50%;
    background: #C1C1C1;
    border-radius: 10px;
}



p {
    margin:0 1% 0 1%;
    width:98%;
    text-align: center;
}

textarea {
    margin:0 25% 2% 25%;
    width:50%;
    border-radius: 10px;
}