body {
    background: #dedede;
}

.parents {
    margin:2% 0 0 0;
}

div .upper {
    margin:0 25% 2% 25%;
    width:50.5%;
    background: #C1C1C1;
    border-radius: 10px;
}


p {
    margin:2% 1% 0 1%;
    width:98%;
    text-align: center;
}

textarea {
    margin:0 25% 0 25%;
    width:50%;
    border-radius: 10px;
}