<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
		$(".upper").mouseenter(function(){
			$(this).css("background-color", "#FFFFE0");
		});
		$(".upper").mouseleave(function(){
			$(this).css("background-color", "#C1C1C1");
		});
	});
	</script>
	<link type="text/css" href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet" />
	<title>{{title}}</title>
	<script>
	$(document).ready(function(){
		$("#deploy").click(function(){
			$(".upper").slideToggle("slow");
		});
});
</script>
</head>
<body>
<div class="content">
{% block content %}
{% endblock %}
</div>
</body>
</html>